body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

a {
    color: green;
    text-decoration: none;
    background-color: transparent;
}

#clear_button {
    border-radius: 5px;
    display: none;
}

div {
    display: inline-block;
}


#speechbubble {
    width: inherit;
}

/*
@-webkit-keyframes anim {
    0% {
        color: red;
        font-size: 12px;
    }

    50% {
        color: blue;
        font-size: 16px;
    }

    100% {
        color: red;
        font-size: 12px;
    }
}

@-moz-keyframes anim {
    0% {
        color: red;
    }

    50% {
        color: blue;
    }

    100% {
        color: red;
    }
}

@-ms-keyframes anim {
    0% {
        color: red;
    }

    50% {
        color: blue;
    }

    100% {
        color: red;
    }
}

@-o-keyframes anim {
    0% {
        color: red;
    }

    50% {
        color: blue;
    }

    100% {
        color: red;
    }
}

@keyframes anim {
    0% {
        color: red;
    }

    50% {
        color: blue;
    }

    100% {
        color: red;
    }
}
*/

.myModal {
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    margin-bottom: 100px;
    text-align: center;
    height: 100%;
    width: 100%;
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


.endModal {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    margin-bottom: 100px;
    text-align: center;
    height: 100%;
    width: 100%;
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal_content {
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 10px;
    /* margin: 15% auto; */
    /* padding: 20px; */
    text-align: center;
    width: 90%;
    /* 80%  */
    margin-top: 10px;
}

.myButton {
    /* background-color: rgb(90, 90, 252); */
    border-radius: 5px;
    /*
  height: 100px;
  width: 100px;
  */
    /* height: 5%;
 //below one was in comments
  width: 7%; */
    padding: 5px 10px;
    margin: 5px auto;
    font-size: 20px;
}


.myrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.item2 {
    background: red;
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 2;
}

.grid-containerDD {
    display: grid;
    grid-template-columns: auto auto auto;
    /* padding: 10px; */
}

.grid-containerDD .grid-item {
    /* .grid-containerDD .grid-item {  */
    padding: 50px;
    font-size: 50px;
    text-align: center;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-size: auto;
    /* <-- background size */
    background-position: center;
    display: block;
    margin: 5px;
    margin-bottom: 10px;
    background-color: transparent;
    /*
    width: 100px;
    height: 100px;
    
    max-width: 100%;
    height: auto;
    */
    /*  new below  */


}


.container {
    position: relative;
    text-align: center;
    height: 200px;
    padding-left: 0;
    padding-right: 0;
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}


.grid-item.item1 {
    /* .grid-item.item1 {  */
    /* firstGridItem  */
    /*  vertical-align: middle; */
    color: yellow;
    /*  background: url(./cat.png) no-repeat; chicken.png*/
    background: url(../page2/kana2.png) center center no-repeat;
    background-size: contain;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


.grid-item.item2 {
    /* .grid-containerDD #secondGridItem  */
    /*  vertical-align: middle;
    background: url(./cat.png) no-repeat;
     */
    text-align: center;
    color: yellow;
    background: url(../page2/kissa2.png) no-repeat;
    height: 400px;
    width: 280px;
    /*
    height:100%;
    width: 100%;
    */

    background-size: contain;
    /* <-- background size */
    background-position: center;
    display: block;
}


.grid-item.changeCat {
    background: url(../page2/kissa_no4.png) no-repeat;
    height: 400px;
    width: 280px;
    background-size: contain;
    background-position: center;
    display: block;
}

.grid-item.changeCat2 {
    background: url(../page2/kissa_no1.png) no-repeat;
    height: 400px;
    width: 280px;
    background-size: contain;
    background-position: center;
    display: block;
}

.grid-item.item3 {
    background: url(../page2/pupu2.png) center center no-repeat;
    /* rabbit.png */
    background-size: contain;
    display: block;
}

.grid-item.item4 {
    background: url(../page2/koira2.png) center center no-repeat;
    /* dog.png  */
    background-size: contain;
}

.grid-item.item5 {
    background: url(../page2/stringball2.png) center center no-repeat;
    /* stringball  */
    background-size: contain;
}


.grid-item.item6 {
    background: url(../page2/fish2.png) center center no-repeat;
    /* fish.png */
    background-size: contain;
}


.grid-item.item7 {
    background: url(../page2/kissa3.png) center center no-repeat;
    background-size: contain;
}

.grid-item.item8 {
    background: url(../page2/brush2.png) center center no-repeat;
    /* catbrush  */
    background-size: contain;
}

.grid-item.item9 {
    background: url(../page2/milk.png) center center no-repeat;
    background-size: contain;
}

@media screen and (min-width: 1001px) and (max-width: 1600px) {
    h1 {
        font-size: 26px;
    }

    .myBox {
        padding: 12px;
        display: inline-block;
    }

    h5 {
        font-size: 18px;
    }

    #mainBox,
    #mainBox2 {
        margin-left: 35%;
        margin-right: 35%;
    }

    .myModal {
        background: rebeccapurple;
    }

    .answerModal {
        width: 100%;
        height: 100%;
        margin-left: 0;
        background: #888;
        margin-top: 30px;
    }
}

.myModal {
    background: rebeccapurple;
}

.answerModal {
    width: 100%;
    height: 100%;
    margin-left: 0;
    background: #888;
    margin-top: 30px;
}

.modal_content {
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 10px;
    /* margin: 15% auto; */
    padding: 20px;
    text-align: center;
    font-size: 20px;
    width: 420px;
}

img {
    vertical-align: middle;
    border-style: none;

    height: -webkit-fill-available;
    width: fit-content;
}

@media screen and (min-width: 901px) and (max-width: 1000px) {
    /*  tuhat tonni  hakusana!*/

    .grid-item.item1,
    .grid-item.item3,
    .grid-item.item4,
    .grid-item.item5,
    .grid-item.item6,
    .grid-item.item7,
    .grid-item.item8,
    .grid-item.item9 {
        padding: 45px;
    }

    .grid-containerDD .grid-item {
        padding: 45px;
    }

    h1 {
        font-size: 26px;
    }

    h5 {
        font-size: 18px;
    }

    .myBox {
        padding: 10px;
        display: inline-block;
    }

    #mainBox,
    #mainBox2 {
        margin-left: 35%;
        margin-right: 35%;
    }

    .myModal {
        background: rebeccapurple;
    }

    .answerModal {
        width: 100%;
        height: 100%;
        margin-left: 0;
        background: #888;
        margin-top: 30px;
    }

    .modal_content {
        background-color: #fefefe;
        border: 1px solid #888;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        font-size: 20px;
        /* margin: 15% auto;
    width: 380px;
    margin-bottom: 100px; */
    }
}

@media screen and (min-width: 751px) and (max-width: 900px) {

    /* seitsemän puoli 750  */
    h1 {
        font-size: 26px;
    }

    h5 {
        font-size: 18px;
    }

    .grid-item.item1,
    .grid-item.item3,
    .grid-item.item4,
    .grid-item.item5,
    .grid-item.item6,
    .grid-item.item7,
    .grid-item.item8,
    .grid-item.item9 {
        padding: 40px;
    }

    .grid-item.item2,
    .grid-item.changeCat,
    .grid-item.changeCat2 {
        width: 240px;
        height: 330px;
    }

    .grid-containerDD .grid-item {
        padding: 40px;
    }

    #mainBox,
    #mainBox2 {
        margin-left: 30%;
        margin-right: 30%;
    }

    .myBox {
        padding: 8px;
        display: inline-block;
    }

    .myModal {
        background: rebeccapurple;
    }

    .answerModal {
        width: 100%;
        height: 100%;
        margin-left: 0;
        background: #888;
        margin-top: 30px;
    }

    .modal_content {
        background-color: #fefefe;
        border: 1px solid #888;
        border-radius: 10px;
        /* margin: 15% auto; */
        padding: 20px;
        text-align: center;
        font-size: 20px;
        /*  width: 380px; */
    }
}

@media screen and (min-width: 601px) and (max-width: 750px) {

    /*  kuussataa kuusisataa 600 */
    h1 {
        font-size: 26px;
    }

    h5 {
        font-size: 18px;
    }

    .container {
        height: 175px;
    }

    .grid-item.item1,
    .grid-item.item3,
    .grid-item.item4,
    .grid-item.item5,
    .grid-item.item6,
    .grid-item.item7,
    .grid-item.item8,
    .grid-item.item9 {
        padding: 40px;
    }

    .grid-item.item2,
    .grid-item.changeCat,
    .grid-item.changeCat2 {
        width: 200px;
        height: 260px;
    }

    .grid-containerDD .grid-item {
        padding: 40px;
    }

    .myBox {
        padding: 6px;
        display: inline-block;
    }

    #mainBox,
    #mainBox2 {
        margin-left: 20%;
        margin-right: 20%;
    }

    .myModal {
        background: rebeccapurple;
    }

    .modal_content {
        background-color: #fefefe;
        border: 1px solid #888;
        border-radius: 10px;
        text-align: center;
        font-size: 20px;
        /*  padding: 20px;
    width: 380px; */
    }

    .answerModal {
        width: 100%;
        height: 100%;
        margin-left: 0;
        background: #888;
        margin-top: 30px;
    }
}

@media screen and (min-width: 401px) and (max-width: 600px) {

    /* neljäsataa 400  */
    h1 {
        font-size: 22px;
    }

    h5 {
        font-size: 14px;
    }

    img {
        padding-top: 15px;
        max-width: 350px;
        max-height: 150px;
    }

    .grid-item.item1,
    .grid-item.item3,
    .grid-item.item4,
    .grid-item.item5,
    .grid-item.item6,
    .grid-item.item7,
    .grid-item.item8,
    .grid-item.item9 {
        padding: 25px;
    }

    .grid-item.item2,
    .grid-item.changeCat,
    .grid-item.changeCat2 {
        width: 160px;
        height: 200px;
    }

    .grid-containerDD .grid-item {
        padding: 25px;
    }

    .myBox {
        padding: 4px;
        display: inline-block;
    }

    #mainBox,
    #mainBox2 {
        margin-left: 20%;
        margin-right: 20%;
    }

    .myModal {
        position: fixed;
        z-index: 1;
        text-align: center;
        /*    height: 100%;
          width: 100%; */
        overflow: auto;
        background: rebeccapurple;
        font-size: 20px;
    }

    .modal_content {
        background-color: #fefefe;
        border: 1px solid #888;
        border-radius: 10px;
        /* margin: 15% auto; */
        /* padding: 20px; */
        text-align: center;
        font-size: 20px;
        width: 340px;
    }

    .answerModal {
        width: 100%;
        height: 100%;
        margin-left: 0;
        background: #888;
        margin-top: 30px;
    }
}

@media screen and (min-width: 201px) and (max-width: 400px) {

    /*  kaksisataa kakssataa 200 */
    h1 {
        font-size: 14px;
    }

    h5 {
        font-size: 10px;
    }

    .container {
        height: 150px;
    }

    .centered {
        top: 50%;
    }

    img {
        padding-top: 15px;
        max-width: 200px;
        max-height: 150px;
    }

    .grid-containerDD .grid-item {
        padding: 20px;
    }

    .grid-item.item1,
    .grid-item.item3,
    .grid-item.item4,
    .grid-item.item5,
    .grid-item.item6,
    .grid-item.item7,
    .grid-item.item8,
    .grid-item.item9 {
        padding: 20px;
    }

    .grid-item.item2,
    .grid-item.changeCat,
    .grid-item.changeCat2 {
        width: 140px;
        height: 180px;
    }

    .myBox {
        padding: 3px;
        display: inline-block;
    }

    #mainBox,
    #mainBox2 {
        width: 80%;
    }

    .myModal {
        position: fixed;
        z-index: 1;
        text-align: center;
        /*    height: 100%;
          width: 100%; */
        overflow: auto;
        background: rebeccapurple;
        font-size: 20px;
    }

    .modal_content {
        background-color: #fefefe;
        border: 1px solid #888;
        border-radius: 10px;
        /* margin: 15% auto; */
        /* padding: 20px; */
        text-align: center;
        font-size: 20px;
        width: 100%;
    }

    .answerModal {
        width: 100%;
        height: 100%;
        margin-left: 0;
        background: #888;
        margin-top: 30px;
    }
}

@media screen and (min-width: 100px) and (max-width: 200px) {

    /* sata 100  */
    h1 {
        font-size: 12px;
    }

    h5 {
        font-size: 8px;
    }

    #mainBox,
    #mainBox2 {
        width: 100%;
    }

    .modal_content {
        /*   */
        background-color: #fefefe;
        border: 1px solid #888;
        border-radius: 10px;
        text-align: center;
        width: 100%;
    }

    .answerModal {
        width: 100%;
        height: 100%;
        margin-left: 0;
        background: #888;
        margin-top: 30px;
    }

    .myButton {
        width: initial;
    }

    .myBox {
        padding: 2px;
        display: block;
    }
}